:root {
    --primary: #6d5dfc;
    --white: #fff;
    --greylight-1: #e4ebf5;
    --greylight-2: #c8d0e7;
    --greylight-3: #bec8e4;
    --greydark: #9baacf;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y:scroll;
    background: var(--greylight-1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 20rem;
    height: 20rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greylight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock {
    grid-column: 2/3;
    grid-row: 1/3;
    width:12rem;
    height: 12rem;
    justify-self: center;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greylight-2), -0.2rem -0.2rem 0.5rem var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.clock .hours {
    width: 0.4rem;
    height: 3.2rem;
    background: var(--greylight-3);
    position: absolute;
    top:44%;
    right:50%;
}
.clock .minutes{
    width: 0.4rem;
    height: 4.6rem;
    background: var(--greydark);
}
.clock .seconds{
    width: 0.2rem;
    height: 5.2rem;
    background: var(--primary);
}
.clock .point {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: var(--primary);
    z-index: 100;
}
.clock .marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greylight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}
.clock .marker::after {
    content: '';
    width: 60%;
    height: 60%;
    position: absolute;
    border-radius: 50%;
    top:20%;
    left:20%;
    filter: blur(1px);
    box-shadow: inset 1px 1px 1px var(--greylight-2), inset -1px -1px 1px var(--white);
}
.clock .marker_1, .clock .marker_2, .clock .marker_3, .clock .marker_4 {
    position:absolute;
    border-radius: 0.1rem;
    box-shadow: inset 1px 1px 1px var(--greylight-2), inset -1px -1px 1px var(--white);
}
.clock .marker_1,
.clock .marker_2 {
  width: 0.2rem;
  height: 0.6rem;
  left: 5.6rem;
}
.clock .marker_3,
.clock .marker_4 {
  width: 0.6rem;
  height: 0.2rem;
  top: 5.6rem;
}
.clock .marker_1 {
  top: 2%;
}
.clock .marker_2 {
  top: 98%;
  transform: translateY(-0.6rem);
}
.clock .marker_3 {
  left: 2%;
}
.clock .marker_4 {
  left: 98%;
  transform: translateX(-0.6rem);
}